body {
  margin: 0;
  padding: 0;
  background-color: crimson;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  }

.header {
  height: 200px;
  text-align: center;
  }

.name {
  font-size: 100px;
  }

.bio {
  font-size: 48px;
